**/__pycache__
**/db.sqlite3
**/DB backup
**/staticfiles
**/media
TSGhackathon/TSGhackathon/__pycache__*
event/migrations/__pycache__*
event/migrations*
users/migrations*
event/__pycache__*
users/__pycache__*
