openpyxl==3.0.9
arabic-reshaper==2.1.3
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==2.2.9
django-heroku==0.3.1
future==0.18.2
html5lib==1.1s
idna==3.3
numpy==1.21.5
Pillow==9.0.1
psycopg2==2.9.3
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.3
razorpay==1.3.0
reportlab==3.6.7
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
webencodings==0.5.1
whitenoise==6.0.0
